{% extends "base.jinja" %}

{% block body %}

	{%block content %}
	{% endblock %}

	<div class="container">
		<div class="page-header">
			<h1> {% block page_title %}{% endblock %} <small> {% block tagline %}{% endblock %} </small></h1>
		</div>
		{% block information %}{% endblock %}
	</div>

{% endblock %}