<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{category}}</h3>
  </div>
  <div class="panel-body">
    <p>{{ description }}</p>
    <div class="list-group">
      {{ demos|safe }}
    </div>
  </div>
</div>
