<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Works in Progress</h3>
	</div>
	<div class="panel-body">
		<p>
		Demos that are currently in a partially working state.
		</p>
		<div class="list-group">
			{{ demos|safe }}
		</div>
	</div>
</div>
