<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Retired Demos</h3>
	</div>
	<div class="panel-body">
		<p>
		These are older demos that are no longer running. Some have limited replay
		capability, however they should mostly be treated as inactive.
		<!-- n.b. Do *NOT* remove demos permanently, or break these links. Several
		published papers point to demo URLs, which makes them immutable. If they
		absolutely must move, be sure to setup redirects to the new server. -->
		</p>
		<div class="list-group">
			{{ demos|safe }}
		</div>
	</div>
</div>
