{#

WHEREABOUTS

#}

{% extends "base_intro.jinja" %}

{% block includes %}
<script src="/js/whereabouts.js"></script>
{% endblock %}

{% block title %}
Whereabouts
{% endblock %}

{% block page_title %}
Whereabouts
{% endblock %}

{% block tagline %}
Semantic Heuristic Localization
{% endblock %}

{% block content %}
<div id="body" style="margin-top:5px;">
  <div class="person_group" style="text-align: left;">
    <div style="text-align: center;">
      <div id="people_row" class="row" style="margin-bottom:5px;">
      </div>
    </div>
  </div>
</div>

<script>
var CC_PID = 'hsYQx8blbd';
var socket_cc;

onload = function() {
  socket_cc = io.connect('inductor.eecs.umich.edu:8082/stream');
  socket_cc.on('connect', function (data) {
      // Queries 30 minutes into the past
      socket_cc.emit('query', {'profile_id': CC_PID,
        'time': 30*60*1000
        }
        );
      });

  socket_cc.on('data', function (data) {
      //console.log(data['person_list'].toString() + " " +
      //        data['time'] + " " + data['location_str']);
      record_presence(data['person_list'], data['location_str'], data['time']);
      });
}
</script>

{% endblock %}
