{#Name: Fridge#}
{#Desc: Real-time rate-based power monitoring of refridgerators.#}


{% extends "base_intro.jinja" %}


{% block includes %}
<script src="js/jquery.flot.custom-0.8.2.js"></script>
<script src="bower_components/flot/jquery.flot.time.js"></script>
<script src="js/jquery.grapher.js"></script>
<script src="js/gatd_graph.js"></script>

<link href="css/gatd_graph.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}
Monjolo - Refrigerators
{% endblock %}

{% block page_title %}
Monjolo - Refrigerators
{% endblock %}

{% block tagline %}
How does yours compare?
{% endblock %}

{% block information %}
<p>
A Monjolo based comparison of the fridges being monitored.
While absolute power draws cannot be compared here, the frequency and
duration of run cycles can be.
</p>
{% endblock %}

{% block content %}

<div id="body">
	<div>
		<div id="graph" class="box_shadow graph"></div>
	</div>
	<div id="key" class="box_shadow key">
		<table id="key_table">
			<thead><tr>
					<th>Index</th>
					<th>ID</th>
					<th>Description</th>
					<th>Location</th>
					<th>Last Frequency</th>
			</tr></thead>
			<tbody id="key_table_tbody"></tbody>
		</table>
	</div>
</div>

<script>

var CC_PID = '7aiOPJapXF';
var socket_cc;

onload = function() {
	socket_cc = io.connect('inductor.eecs.umich.edu:8082/stream');
	socket_cc.on('connect', function (data) {
		socket_cc.emit('query', {'profile_id': CC_PID,
		                         '$or': [{'description': {'$regex': '.*fridge.*', '$options': 'i'}},
		                                 {'description': {'$regex': '.*refrigerator.*', '$options': 'i'}}],
		                         '_processor_freq':'last',
		                         'time': 7200000}
		              );
	});

	socket_cc.on('data', function (data) {
		if (data['description'].match(/Circuit/g)) return;

		var color = get_color(data['ccid_mac'])
		add_to_key(g,
			data['ccid_mac'],
			data['description'],
			data['location_str'],
			data['freq'],
			color);
		fixup_index();
		add_to_graph(g, data['ccid_mac'], data['time'], data['freq'], color);
	});

	g = $.grapher($("#graph"),
		{legend: {show: false, conainer: $("#graph_key")},
		 xaxis:  {show:true, width:7200000, mode: "time", tickFormatter:x_format},
		 yaxis:  {min:0, label:"Frequency (Activations/Second)", max:5},
		 grid:   {margin: {top: 8, bottom: 20, left: 25, right: 25}},
		});

	$("th").click(function() {
		series = 'all';
	});
}
</script>
{% endblock %}
