{#Name: Wattsup#}
{#Desc: Real-time power monitoring with "WattsUp?.net".#}

{% extends "base_intro.jinja" %}

{% block includes %}
<script src="js/jquery.flot.custom-0.8.2.js"></script>
<script src="bower_components/flot/jquery.flot.time.js"></script>
<script src="js/jquery.grapher.js"></script>
<script src="js/gatd_graph.js"></script>

<link href="css/gatd_graph.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

	<title>Watts Up? .net</title>


{% block title %}
Watts Up? .net
{% endblock %}

{% block page_title %}
Watts Up? .net
{% endblock %}

{% block tagline %}
Power metering
{% endblock %}

{% block information %}
<p>
Graph of power meters attached to individual loads.
</p>
{% endblock %}

{% block content %}


<div id="body">
	<div id="graph" class="box_shadow graph"></div>
	<div id="key" class="box_shadow key">
		<table id="key_table">
			<thead><tr>
				<th>Index</th><th>ID</th><th>Description</th><th>Location</th>
			</tr></thead>
			<tbody id="key_table_tbody"></tbody>
		</table>
	</div>
</div>

<script>

var WUP_PID = 'YWUr2G8AZP';
var s;

onload = function() {
	s = io.connect('inductor.eecs.umich.edu:8082/stream');
	s.on('connect', function (data) {
		s.emit('query', {'profile_id': WUP_PID,
                         'description': {'$exists': true}}
		      );
	});

	s.on('data', function (data) {
		if ('wattsupid' in data) {
			var uid = data['wattsupid'].toString()
			var color = get_color(uid)
			add_to_key(g,
				uid,
				data['description'],
				data['location_str'],
				-1,
				color)
			add_to_graph(g, uid, data['time'], data['watts'], color);
		}
	});


	g = $.grapher($("#graph"),
		{legend: {show: false, conainer: $("#graph_key")},
		 xaxis:  {show:true, width:300000, mode: "time", tickFormatter:x_format},
		 yaxis:  {min:0, label:"Power (watts)", max:250},
		 grid:   {margin: {top: 8, bottom: 20, left: 25, right: 25}},
		});

	$("th").click(function() {
		series = 'all';
	});
}
</script>

{% endblock %}
