{% extends "base.jinja" %}

{% block title %}
Lab11 Demos from GATD
{% endblock %}

{% block page_title %}
Lab11 Demos from GATD
{% endblock %}


{% block body %}

<div class="container">

<div class="jumbotron hidden-xs">
<h1>Lab11 GATD Demos</h1>
</div>

{% for category in categories %}
  {{ category }}
{% endfor %}

</div>

{% endblock %}
