{% extends "base.jinja" %}

{% block title %}
Lab11 Demos from GATD
{% endblock %}

{% block page_title %}
Lab11 Demos from GATD
{% endblock %}


{% block body %}

<div class="container">

<div class="jumbotron">
<h1>Lab11 GATD Demos</h1>
</div>

<div class="list-group">
{{ demos }}
</div>

</div>

{% endblock %}